body {
    margin: 0;
  }
  
  a, a:hover {
    text-decoration: none;
  }
  
  .navbar {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 24px;
    width: 100%;
    background-color: #232323;
    color: #efefef;
  }
  
  .navbar a {
    color: #efefef;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navitem {
    display: inline-block;
    margin: 10px;
  }
  
  .right {
    float: right;
  }
  
  @media(max-width: 500px) {
    .navitem {
      display: block;
    }
  
    .right {
      float: none;
    }
  }
  
  @media(max-width: 800px) {
    .navbar {
      font-size: 48px;
      background-color: orangered;
    }
  }