extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Best Food App
    p.lead Join Us For Convinient Food find and Delivery
    a.btn.btn-info-outline.btn-lg(href='/register') Join Us
